.CodeMirror {
  font-size: 100%;
  height: 5em;
  border: 1px solid #999;
}

.cm-bracket-1 {background: #fab;}
.cm-bracket-2 {background: #fdb;}
.cm-bracket-3 {background: #ffd;}
.cm-bracket-4 {background: #dfb;}
.cm-bracket-5 {background: #cef;}
.cm-bracket-6 {background: #dcf;}
.cm-bracket-0 {background: #bbe;}

.cm-error {
  color: black !important;
  border-bottom: solid 3px red;
}

.CodeMirror-cursor {
  width: 0.6em;
  background-color: #ffff0070;
}

.CodeMirror-matchingbracket {
  background-color: #00ffff;
  color: black !important;
}
